<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Display Data</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>Data from MongoDB:</h1>
    {{#each mongoDBData}}
        <div class="user">
            <p>Name: {{ this.name }}</p>
            <p>Email: {{ this.email }}</p>
        </div>
    {{/each}}

   
</body>
</html>
